$grape: #94618e;
$eggplant: #49274a;
$sand: #f4decb;
$shell: #f8eee7;

$dark: #25274d;
$purple: #464866;
$light: #aaabb8;
$lblue: #2e9cca;
$dblue: #29648a;

@keyframes pulse {
  // TODO : turn this back on and make cohesive with turning card animation
  // from {
  //   transform: scale(1);
  // }
  // to {
  //   transform: scale(1.025);
  // }
}

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 410px;
  padding: 0;
  margin: 0;
  background-color: $purple;
}

.pulse-hover {
  :hover {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

.App {
  height: 100%;

  .nav-wrapper {
    background-color: $dark;

    .nav-tabs {
      .nav-tab {
        color: $light;
      }

      .Mui-selected {
        color: $shell;
      }

      .MuiTabs-indicator {
        background-color: $shell !important;
      }
    }
  }

  .main-content {
    color: $shell;
    padding: 2%;
    text-align: center;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
    }

    .onethird-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 33%;
      min-width: 225px;
      margin: auto;
    }

    .twothirds-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 67%;
      min-width: 250px;
      margin: auto;
    }

    .half-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 48%;
      min-width: 237px;
      margin: auto;
      padding: 0 1%;
    }

    .profile-pic {
      width: 70%;
      margin: auto;
      border-radius: 6%;
      border: 6px $dblue solid;
      box-shadow: $lblue 6px 8px 4px;
      margin-bottom: 16px;
    }

    .text {
      text-align: left;

      p {
        margin-top: 1%;
        padding-top: 1%;
        border-top: $lblue solid 1px;
      }
    }

    .skills {
      background-color: $shell;
      color: $dark;
      padding: 1%;
      border-radius: 1vw;
      width: 67%;
      border: 4px $dblue solid;
      box-shadow: $lblue 4px 6px 4px;
      margin-bottom: 10px;

      .skill-pic {
        padding: 1%;
        width: 3%;
        min-width: 30px;
      }
    }

    .contacts {
      margin: 4% auto;

      .half-column {
        // overwrite generic .half-column
        justify-content: center;
        text-align: left;
        a {
          color: $shell;
        }
        p {
          border-top: $lblue solid 1px;
          padding-top: 1.5%;
          margin-top: 1.5%;
        }
      }
    }
  }

  .tech {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
    }
  }

  .MuiCard-root {
    max-width: 30.5%;
    min-width: 400px;
    border-radius: 1vw;
    border: 4px $dblue solid;
    box-shadow: $lblue 4px 6px 4px;
    margin: 1%;
    background-color: $shell;

    .MuiCardContent-root {
      h3 {
        font-size: calc(9px + 0.5vw);
      }

      p {
        font-size: calc(7px + 0.4vw);
      }
    }

    .MuiCardMedia-img {
      max-width: 90%;
      margin: 10px auto;
      border-radius: 1vw;
      border: 2px $dblue solid;
      box-shadow: $lblue 2px 4px 2px;
    }

    .MuiCardMedia-root {
      position: relative;
      .arrow {
        position: absolute;
        top: 50%;
        z-index: 100;
      }

      .arrow-left {
        left: 8%;
      }
      .arrow-right {
        right: 8%;
      }
    }
  }

  footer {
    text-align: center;
    color: $shell;
    padding: 0.2%;
  }
}

.projects {
  align-items: flex-start;
  .project {
    flex: 1 auto;
  }
  .skills-and-links-row {
    .MuiCardActions-root {
      padding: 0;
      margin: 0;
    }
  }

  .back {
    // back of card to show
    // TODO : figure out how to animate this
    text-align: left;
    h3 {
      font-size: calc(9px + 0.5vw);
    }
    h4 {
      font-size: calc(8px + 0.5vw);
    }
    ul {
      padding-left: 4%;
      font-size: calc(7px + 0.4vw);
    }
    p {
      font-size: calc(7px + 0.4vw);
    }
  }

  .front {
    // to flip back to front of project card
    // TODO : figure out how to animate this
  }
}
