@import "./Variables.scss";

// shared/app-level styles
* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 410px;
  padding: 0;
  margin: 0;
  background-color: $purple;
}

// shared animations
.pulse-hover {
  :hover {
    transform: scale(1.025);
    transition: transform 0.5s;
  }

  .MuiCard-root {
    display: inline-block;

    .MuiCardMedia-root img:hover {
      transform: none;
    }
    .MuiCardContent-root :hover {
      transform: none;
    }
    div:hover {
      transform: none;
    }
  }
}

// app component styles
.app {
  height: 100%;

  .main-content {
    color: $shell;
    padding: 2%;
    text-align: center;

    p b {
      font-size: calc(10px + 0.5vw);
    }

    // TODO clean up grid styling in scss and markup
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
    }

    .onethird-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 33%;
      min-width: 225px;
      margin: auto;
    }

    .twothirds-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 67%;
      min-width: 250px;
      margin: auto;
    }

    .half-column {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 48%;
      min-width: 237px;
      margin: auto;
      padding: 0 1%;
    }

    .text {
      text-align: left;

      p {
        margin-top: 1%;
        padding-top: 1%;
        border-top: $lblue solid 1px;
      }
    }
  }

  .MuiCard-root {
    // max-width: 30.5%;
    min-width: 400px;
    border-radius: 1vw;
    border: 4px $dblue solid;
    box-shadow: $lblue 4px 6px 4px;
    margin: 1%;
    background-color: $shell;

    .MuiCardContent-root {
      h3 {
        font-size: calc(9px + 0.5vw);
      }
      h4 {
        font-size: calc(8px + 0.5vw);
      }

      p {
        font-size: calc(7px + 0.4vw);
      }

      li {
        font-size: calc(7px + 0.4vw);
      }
    }

    .MuiCardMedia-img {
      max-width: 90%;
      margin: 10px auto;
      border-radius: 1vw;
      border: 2px $dblue solid;
      box-shadow: $lblue 2px 4px 2px;
    }

    .MuiCardMedia-root {
      position: relative;
      .arrow {
        position: absolute;
        top: 50%;
        z-index: 100;
      }

      .arrow-left {
        left: 8%;
      }
      .arrow-right {
        right: 8%;
      }
    }
  }
}
