.project {
  flex: 1 auto;

  .skills-and-links-row {
    .MuiCardActions-root {
      padding: 0;
      margin: 0;
    }
  }

  .tech {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
    }
  }

  .back {
    // back of card to show
    text-align: left;
    h3 {
      font-size: calc(9px + 0.5vw);
    }
    h4 {
      font-size: calc(8px + 0.5vw);
    }
    ul {
      padding-left: 4%;
      font-size: calc(7px + 0.4vw);
    }
    p {
      font-size: calc(7px + 0.4vw);
    }
  }
}

.pulse-hover-project {
  width: 30.5%;
  min-width: 400px;
  margin: 1%;

  :hover {
    transform: scale(1.025);
    transition: transform 0.5s;
  }

  .MuiCard-root {
    display: inline-block;

    .MuiCardMedia-root img:hover {
      transform: none;
    }
    .MuiCardContent-root :hover {
      transform: none;
    }
    div:hover {
      transform: none;
    }
  }
}
